.mainBill{
    display: flex;
    flex: 1;
    background-color: #DFDFDF;
}
.viewHeaderBill{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    width: 100%;
}
.viewMainBill{
    display: flex;
    flex: 1;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    flex-direction: column;
}
.page{
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
}
table, td, th {
    border: 1px solid black;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}
.detailText{
    text-decoration: underline;
    font-family: 'Roboto-Bold', serif;
}